@media screen and (min-width:760px) {
     .container{
        display: grid;
        gap: 1rem;
        align-items: stretch;
        justify-items: center;
        width: calc(var(--width)*8);
        height: 100vh;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:  0.4fr 0.1fr 0.3fr 0.4fr; 
        grid-template-areas: "createContent rating rating schedule--socialMedia"
                              "createContent social schedule schedule--socialMedia"
                              "content--ai social schedule schedule--socialMedia"
                              "content--ai audience follower follower"; 
     }

     .rating{
       grid-area: rating;

     }


     .social{
        overflow: hidden;
        grid-area: social;
        justify-content: start;
     }

     .social img{
      width: calc(var(--width)*14);
      position: relative;
      left: 1.8em;
   }

     .createContent{
         grid-area: createContent;
     }

     .schedule--socialMedia {
       align-items: var(--align_left);
       overflow: hidden;
       grid-area: schedule--socialMedia;
     }

     .schedule--socialMedia p, .schedule--socialMedia h2{
      text-align: var(--align_left);
     }

     .schedule--socialMedia img {
         width: calc(var(--width)*15);
     }

     .schedule{
      grid-area: schedule;
      overflow: hidden;
      justify-content: start;
     }

     .content--ai{
        grid-area: content--ai
     }

     .content--ai img, .schedule img{
      width: calc(var(--width)*10);
      left: 0;
      
     }

     .audience{
        grid-area: audience;
     }

     .follower{
        flex-direction: row;
        grid-area: follower;
     }
}