@media screen and (min-width:760px) {
     .container{
        align-items: stretch; 
        width: calc(var(--width)*7);
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:  0.3fr 0.4fr 0.45fr 0.3fr; 
        grid-template-areas: "createContent rating rating schedule--socialMedia"
                              "createContent social schedule schedule--socialMedia"
                              "content--ai social schedule schedule--socialMedia"
                              "content--ai audience follower follower"; 
     }

     .card{
      width: clamp(150px, 100%, 250px);

     }

     .rating{
       grid-area: rating;
       width: clamp(250px, 100%, 545px);


     }


     .social{
        overflow: hidden;
        grid-area: social;
        justify-content: start;
     }

     .social img{
      width: calc(var(--width)*14);
      position: relative;
      left: 1.8em;
   }

     .createContent{
         grid-area: createContent;
     }

     .schedule--socialMedia {
       align-items: var(--align_left);
       overflow: hidden;
       grid-area: schedule--socialMedia;
       text-align: var(--align_left);
     }


     .schedule--socialMedia img {
         width: calc(var(--width)*15);
     }

     .schedule{
      grid-area: schedule;
      overflow: hidden;
      justify-content: start;
     }

     .content--ai{
        grid-area: content--ai
     }

     .content--ai img, .schedule img{
      width: calc(var(--width)*10);
      
     }

     .audience{
        grid-area: audience;
     }

     .follower{
        flex-direction: row;
        grid-area: follower;
        width: clamp(250px, 100%, 545px);
        text-align: var(--align_left);

     }
}