/*----- Fonts -----*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*----- Variables -----*/
:root{
--purple100: hsl(254, 88%, 90%);
--purple500: hsl(256, 67%, 59%);

--yellow100: hsl(31, 66%, 93%);
--yellow500: hsl(39, 100%, 71%);

--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 7%);

--width:10%;
--align_center: center;
--align_left: left;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    background: #f7f5f5;
    font-size: 18px;
    display: flex;
    justify-content: var(--align_center);
    align-items: var(--align_center);
    flex-direction: column;
    min-height: 100vh;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: var(--align_center);
    justify-content: var(--align_center);
    gap: 1rem;
    width: 90%;
}

.card{
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    align-items: var(--align_center);
    flex-direction: column;
    justify-content: var(--align_center);
    gap: 8px;
    width: clamp(150px, 100%);

}